# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/zachlagden-uk?retryWrites=true&w=majority

# Auth.js
AUTH_SECRET=  # Generate with: openssl rand -base64 32
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Admin
ADMIN_GITHUB_USERNAME=zachlagden

# Sentry (optional)
SENTRY_DSN=
SENTRY_AUTH_TOKEN=

# Google Analytics (optional)
NEXT_PUBLIC_GA_ID=
